.column-card-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  background-color: #f1eef5;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 3vh;
  box-shadow: 5px 5px 5px 5px #1816163f;
}

.column-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  background-color: rgb(209, 209, 241);
  font-family: "Montserrat", sans-serif;
}

.column-info > h3 {
  color: rgb(105, 100, 100);
}

.column-info > p {
  font-size: 12px;
  width: 80%;
  padding: 15px;
}

.column-screen {
  border-radius: 0px 20px 20px 0px;
  width: 100%;
  height: 60%;
  background-color: #f1eef5;
  margin: 0 auto;
}

.media-column {
  height: 100%;
}
.card-wrap {
  position: relative;
  width: 75%;
  margin: 0 auto;
}
