.project-card-container {
  display: flex;
  height: 60vh;
  width: 60vw;
  background-color: #f1eef5;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 3vh;
  box-shadow: 5px 5px 5px 5px #1816163f;
}

.project-info {
  height: 100%;
  border-radius: 20px 0px 0px 20px;
  width: 30%;
  background-color: #ffff;
}

.project-screen {
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  width: 70%;
  background-color: #f1eef5;
}

@media only screen and (max-width: 800px) {
  .project-card-container {
    flex-direction: column;
    top: 0vh;
    width: 90vw;
    overflow-x: hidden;
  }

  .project-info {
    height: 30%;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    background-color: #ffff;
  }

  .project-screen {
    height: 70%;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    background-color: #f1eef5;
  }
}
