.infopage-container {
  height: 40vh;
  width: 100vw;
  background-color: #7673f9;
  margin-top: 100vh;
  border-radius: 0px 15vh 0px 0px;
}

.info-projects-wrap {
  position: relative;
  height: auto;
  top: 1em;
  width: max-content;
  margin: 0 auto;
  z-index: 2;
  margin-top: -8em;
}

.title-line {
  width: 50%;
  margin-top: -15px;
  border-width: 1.5px;
  background-color: #009320;
  border-color: #009320;
}
.info-projects {
  font-family: "Montserrat", sans-serif;
  color: #635858;
}

.info-wrap {
  position: relative;
  width: max-content;
  height: 50px;
  top: 15vh;
  margin: 0 auto;
}

.info-wrap > hr {
  border-width: 1px;
  background-color: #ffffff;
  border-color: #ffffff;
  width: 70vw;
}

.email {
  color: white;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 800px) {
  .infopage-container {
    margin-top: 60vh;
  }
}

.year-wrap {
  position: absolute;
  height: max-content;
  width: 100%;
  bottom: 10px;
}

h4 {
  position: relative;
  margin: 0 auto;
  color: #cfbbbb;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}
