.infopage-container {
  min-height: 200px;
  position: relative;
  max-height: max-content !important;
  background-color: #7673f9;
  padding: 40px;
  border-radius: 0px 15vh 0px 0px;
  margin-top: 5%;
}

.info-projects-wrap {
  position: relative;
  height: auto;
  top: 1em;
  width: max-content;
  margin: 0 auto;
  z-index: 2;
  margin-top: -9em;
}

.title-line {
  width: 50%;
  margin-top: -15px;
  border-width: 1.5px;
  background-color: #009320;
  border-color: #009320;
}
.info-projects {
  font-family: "Montserrat", sans-serif;
  color: #a39b9b;
}

.info-wrap {
  position: relative;
  width: max-content;
  height: 50px;
  top: 60%;
  padding-top: 5%;
  margin: 0 auto;
}

.info-wrap > hr {
  border-width: 1px;
  background-color: #ffffff;
  border-color: #ffffff;
  width: 100%;
}

.email {
  color: white;
  font-family: "Montserrat", sans-serif;
}
