.stack-page-container {
  padding-top: 100px;
  height: 100vh;
  width: 100vw;
  background-color: #fbfbfe;
  justify-content: center;
}

.title-stack-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  width: max-content;
  height: max-content;
  margin: 0 auto;
}

.title-stack-wrap > hr {
  width: 50%;
  margin-top: -20px;
  border-width: 1.5px;
  background-color: #009320;
  border-color: #009320;
}
.title-stack {
  font-family: "Montserrat", sans-serif;
  color: #635858;
}

.stack-items-wrap {
  display: flex;
  width: 70vw;
  height: 65vh;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 8em;
}

.stack-items-wrap svg {
  padding-inline: 7em;
}

.js-item-container {
  height: max-content;
}

.react-item-container {
  height: max-content;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #635858;
}

.js:hover {
  transform: scale(1.1);
}

.react-svg:hover {
  transform: scale(1.1);
}

.react-native:hover {
  transform: scale(1.1);
}

.nodejs:hover {
  transform: scale(1.1);
}

.postgresql:hover {
  transform: scale(1.1);
}

.css3:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 985px) {
  .stack-items-wrap {
    width: 90vw;
  }
  .stack-items-wrap svg {
    padding-inline: 5em;
  }
}

@media only screen and (max-width: 800px) {
  .stack-items-wrap {
    width: 90vw;
    margin-top: 1.5em;
  }
  .stack-items-wrap svg {
    padding-inline: 1.5em;
    padding-top: 2em;
  }
}
