.stack-page-container {
  padding-top: 100px;
  height: 100vh;
  width: 100vw;
  background-color: #fbfbfe;
  justify-content: center;
}

.title-stack-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  width: max-content;
  height: max-content;
  margin: 0 auto;
}

.title-stack-wrap > hr {
  width: 50%;
  margin-top: -20px;
  border-width: 1.5px;
  background-color: #009320;
  border-color: #009320;
}
.title-stack {
  font-family: "Montserrat", sans-serif;
  color: #635858;
}

.stack-items-wrap {
  display: flex;
  width: 40vw;
  height: 65vh;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 6em;
}

.stack-items-wrap svg {
  padding-inline: 40px;
}

.js-item-container {
  height: max-content;
}

.react-item-container {
  height: max-content;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #635858;
}

@media only screen and (max-width: 800px) {
  .stack-items-wrap {
    width: 80vw;
  }
}
