.projects-pg-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #fbfbfe;
}

.title-projects-wrap {
  flex-direction: column;
  position: relative;
  height: auto;
  top: 1em;
  margin: 0 auto;
  z-index: 2;
}

.title-projects-wrap > hr {
  width: 50%;
  margin-top: -15px;
  border-width: 1.5px;
  background-color: #009320;
  border-color: #009320;
}
.title-projects {
  font-family: "Montserrat", sans-serif;
  color: #635858;
}

.design-log-wrap {
  position: relative;
  width: 20%;
  height: 20%;
  left: 70%;
  z-index: 2;
}
.svg-design {
  position: relative;
  width: 80%;
  height: 80%;
}
.svg-wave-wrap {
  position: relative;
  margin-top: -12%;
  bottom: 8em;
}

.wave-2 {
  width: 100vw;
  margin: 0;
}

.projects-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #7673f9;
  margin-top: -8em;
  padding-bottom: 10vh;
}
.project-card-item {
  margin: 0;
  padding: 0px;
}

@media only screen and (max-width: 800px) {
  .project-card-item {
    width: 100%;
    margin: 0 auto;
    top: 10vh;
  }
  .title-projects-wrap {
    top: -7em;
  }
  .design-log-wrap {
    top: -7em;
  }
  .projects-pg-container {
    margin-top: 10vh;
  }
}
