.viewWrap {
  display: flex;
  width: 20%;
  height: 100px;
  position: relative;
  align-items: center;
  margin: 0 auto;
  justify-content: space-evenly;
}

.liveView {
  position: relative;
}

.liveView:hover {
  fill: rgba(78, 72, 72, 0.562);
  cursor: pointer;
}

.githubLogo {
  position: relative;
}

.githubLogo:hover {
  fill: rgba(78, 72, 72, 0.562);
  cursor: pointer;
}
