body {
  scrollbar-width: thin;
  max-width: 100vw;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.page {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
}
